@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 35px;
    font-weight:400;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
} 
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    background-size: cover;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.container .contactinfo .box .icon{
    min-width: 55px;
    height: 55px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 17px;
    color: black;
    flex-direction: column;
    font-weight: 200;

}
.container .contactinfo .box .text h3{
    font-weight: 400;
    color: aqua;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: white;
}
.contactform h3{
    font-size: 30px;
    color: rgb(40, 35, 35);
    font-weight: 400;
}
.contactform .input{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactform .input input{
    width: 100%;
    padding: 5px 0;
    font-size: 17px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(74, 58, 58);
    outline: none;
}
.contactform .input textarea{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
   
}
.contactform .input textarea:hover{
    outline: 1px solid rgb(74, 58, 58);
}
.contactform .submit input{
    width: 50%;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0;
    background-color:rgb(9, 57, 215);
    color: #fff;
    border: none;
    border-radius: 5px;
}
.contactform .submit input:hover{

    background-color: aliceblue;
    color: black;
}
.contactform .input span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 17px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: gray;
}
.contactform .input input:focus ~ span,
.contactform .input input:valid ~ span
.contactform .input textarea:focus ~ span,
.contactform .input textarea:valid ~ span
{
    color: #a41d4a;
    font-size: 13px;
    transform: translateY(-20px);
}
@media(max-width:990px){
    .contact
    {
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo{
       width: 100%;
    }

}
